
{% extends "base.html" %}
{% block style %}
<style>
#saved-jobs {
	position: fixed;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="span8" id="all-jobs">
		<div class="page-header">
			<h2>All Jobs</h2>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr><th>Saved</th>
					<th>Deadline</th>
					<th>Position</th>
					<th>Organization</th>
				</td>
			</thead>
			<tbody>
				{% for job in jobs %}
					{% include "jobs/table_row.html" %}
				{% endfor %}
				{% for job in no_deadlines %}
					{% include "jobs/table_row.html" %}
				{% endfor %}
			</tbody>
		</table>
		</ul>
	</div>
	<div class="span4">
		<div class="span4" id="saved-jobs">
			<div class="page-header">
				<h2>Saved</h2>
			</div>
			<ul>
			{% for job in user.job_set.all %}
			<li>
				<a href={{job.url}}>{{ job.position }}</a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}