<tr>
	<td>
	{% if job in user.job_set.all %}
		<a style="display: none;" class="star-job" title="Remove star" href={% url jobs.views.unstar job.job_id %}>
			<i id="star-{{ job.job_id }}" class="icon-star"></i>
		</a>
	{% else %}
		<a style="display: none;" class="star-job" title="Star this job" href={% url jobs.views.star job.job_id %}>
			<i id="star-{{ job.job_id }}" class="icon-star-empty"></i>
		</a>
	{% endif %}
	</td>
	<td>
		{{ job.deadline|date:"SHORT_DATE_FORMAT"|default:"Open until filled" }}
	</td>
	<td>
		<a href={% url jobs.views.detail job.job_id %} title="Visit job on EdZapp">
			{{ job.position }}
		</a>
	</td>
	<td>{{ job.organization|title }}</td>
</tr>